*{}
.hary{
    display: inline;
}
nav{
    color: aqua;
}
h6{
    background-color: aqua;
}
h4{
    background-color: bisque;
    width: 50;
    padding: 10;
}
.merah{
    background-color: red;
    width: 200px;
    height: 100px;
    display: block;
}
.hijau{
    background-color: greenyellow;
    display: inline;
    width: 200px;
    height: 200px;
}
.biru{
    display: inline-block;
    width: 200px;
    height: 300px;
    background-color: blue;
}
.merahh{
    background-color: red;
    width: 200px;
    height: 200px;
    display: inline-block;
}
.hijauu{
    background-color: greenyellow;
    display: inline-block;
    width: 200px;
    height: 200px;
}
.biruu{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: blue;
}
div{
    display: inline-block;
    width: 47%;
}
.anjing{
    float: left;
    background-color: rgb(29, 215, 215);
}
.kucing{
    background-color: blueviolet;
    float: right;
}
img{
    float: left;
    margin-right: 10px;
    width: 120px;
    height: 120px;
}
footer{
    clear: both;
    text-align: center;
    background-color: brown;
    color: aliceblue;
}
.kucing img{
    float: right;
}
